# Enables simultaneous AP & Managed Mode on the Raspberry PI Zero W, Zero 2 W and 4 onboard WiFi
ACTION=="add", SUBSYSTEM=="ieee80211", SUBSYSTEMS=="sdio", KERNELS=="mmc1:0001:1", DRIVERS=="brcmfmac", KERNEL=="phy0", \
  PROGRAM="/usr/bin/awk '/^Revision\t: / {sub(\"^1000\", \"\", $3); print $3}' /proc/cpuinfo", RESULT=="9000c1|902120|a03111|b03111|b03112|b03114|b03115|c03111|c03112|c03114|c03115|d03114|d03115", \
  RUN+="/sbin/iw phy phy0 interface add ap0 type __ap"
  
